.main-profile {
    display: flex;
    height: 100vh;
    background-color: #fff;
    width: 100%;
}

.main-section-profile {
    width: 100%;
    padding: 30px;
}

.section-profile-recruiter {
    display: flex;
    height: 85%;
    width: 100%;
    justify-content: space-between;
}
