.application-details {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 200px;
}

.field-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

.field h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 8px;
}

.field p {
    font-size: 1rem;
    color: #555;
    margin: 4px 0; /* Espaçamento entre parágrafos */
}

.field p:first-child {
    font-weight: bold;
    color: #222;
}


.field p span {
    font-weight: bold;
    color: #444;
}

.field-date {
    font-size: 14px;
    color: #999;
    margin-top: auto;
}


/* Responsividade */
@media (max-width: 768px) {
    .application-details {
        padding: 15px;
        max-width: 100%;
    }

    .field h3 {
        font-size: 1.1rem;
    }

    .field p {
        font-size: 0.9rem;
    }
}
