/* CSS */
.dashboard-page {
    display: flex;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Ocupa o restante da largura ao lado do Sidebar */
}

.content-area {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    margin-top: 64px;
}
