.vacancy-page {
    display: flex;
    height: 100%;
    background-color: #f9f9f9;
    margin: 30px 0;
}

.main-section-vacancy {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}
